
html {
  scroll-behavior: smooth;
  background-image: url("images/Background.png");

}
body {
}


@keyframes FadeInAndOut {
      0% {opacity: 0;}
      20% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0;}
}

@keyframes FadeInAndOutLate {
      0% {opacity: 0;}
      70% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0;}
}

#intro-section{
 position: absolute;
 background-image: url("images/BackgroundIntro.png");
 width: 100%;
 height: 100vh;
 float:left;
 z-index: 3;
}

.animated-name {
  text-align: center;
  margin-top: 18%;
}

.animated-name h1{
  font-size: 110px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: FadeInAndOut;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

.typing{
  color: white;
  animation-name: FadeInAndOut;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

#main-section{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar{
  background-color: #2f384d;
  text-align: center;

}

.navbar-brand{
  float:none;
  font-size: 35px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: FadeInAndOut;
}

.row{
  width: 100%;
}

.col-txt{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}

.jumbotron{
  background: beige !important;
  box-shadow: 10px 10px;
  min-height: 70vh;
}

.jumbotron h1{
  font-size: 60px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.jumbotron p{
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.card{
  background-color: #827070 !important;
  box-shadow: 10px 10px;
  width: 100%;
  margin-top: 30px;
}

.btn-group{
}


.btn-group img{
  height: auto;
  width: 60%;
  padding: 5%;
  max-width: 100px;
  max-height: 100px;
}



.col-animated img{
  height: auto;
  width: 100%;
  min-width:450px;
  float: right;
}

.notice-card{
  background: beige !important;
  padding: 10px;
  margin: auto;
  width: 50%;
  margin-bottom: 40px;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}
