
html {
  scroll-behavior: smooth;
  background-image: url("./images/background.png");
  background-color: white;
}
body {
  /*background-image: linear-gradient(to bottom right, #23344f, #5278a8,#283c5c);*/
}


@keyframes FadeInAndOut {
      0% {opacity: 0;}
      20% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0;}
}

@keyframes FadeInAndOutLate {
      0% {opacity: 0;}
      70% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0;}
}

#intro-section{
 position: relative;
 background: #2f384d;
 width: 100%;
 height: 100vh;
 float:left;
 z-index: 3;
}

.animated-name {
  text-align: center;
  margin-top: 18%;
}

.animated-name h1{
  font-size: 110px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: FadeInAndOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#target, #cursor{
  justify-content: center;
  font-size: 30px;
  color: white;
}

#main-section{
  position:absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navbar{
  background-color: #2f384d;
  text-align: center;

}

.navbar-brand{
  float:none;
  font-size: 35px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: FadeInAndOut;
}

.row{
  width: 100%;
}

.col-txt{
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.jumbotron{
  background: beige !important;
  box-shadow: 10px 10px;
  min-height: 70vh;
}

.card{
  background-color: #827070 !important;
  box-shadow: 10px 10px;
  width: 100%;
  margin-top: 30px;
}

.btn-group{
}

.btn-group img{
  background-color: transparent;
  height: auto;
  width: 60%;
  padding: 5%;
  max-width: 100px;
  max-height: 100px;
}



.col-animated img{
  height: auto;
  width: 100%;
  min-width:450px;
  float: right;
}
