html {
  scroll-behavior: smooth;
}
body {
  /*background-image: linear-gradient(to bottom right, #23344f, #5278a8,#283c5c);*/
  background: white;
}

@keyframes FadeInAndOut {
      0% {opacity: 0;}
      20% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0;}
}

@keyframes FadeInAndOutLate {
      0% {opacity: 0;}
      70% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0;}
}

#intro-section{
 position: relative;
 background: gray;
 width: 100%;
 height: 100vh;
 float:left;
 z-index: 3;
}

.animated-name {
  text-align: center;
  margin-top: 18%;
}

.animated-name h1{
  font-size: 110px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: FadeInAndOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.animated-name p{
  font-size: 30px;
  color: white;
  font-family: Arial;
  animation-name: FadeInAndOutLate;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#main-section{
  position:absolute;
  background: #853e3e;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.navbar{
  background-color: gray;
  text-align: center;
}

.navbar-brand{
  float:none;
  font-size: 35px;
  color: white;
  font-family: Brush Script MT, Brush Script Std, cursive;
  animation-name: FadeInAndOut;
}

.row{
  width: 100%;
}

.jumbotron{
  background: beige !important;
  height: 60vh;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.card{
  background-color: #827070 !important;
  height: 20vh;
  width: 100%;
  margin-left: 45px;
  margin-right: 15px;
  margin-top: 15px;
}

.card img{
  height: auto;
  width: 20%;
}

.link-col{
  text-align: center;
}
